
.header-container{
  width: 100%;
  height: 7vh;
  background: red;
}
.menu-container{
  width: 5vw;
  height: calc(100% - 7vh);
  background: green;
}
.admin-container{
  position: relative;
}
.admin-content{
  position: absolute;
  width: calc(100% - 5vw);
  height: calc(100% - 7vh);
  left: 100px;
  top: 60px;
}
.user-management-container{
  height: 100%;
  padding: 10px;
}


