.full-screen{
  height: calc(100% - 28px);
  .el-table__header-wrapper{
    height: 50px;
  }
  .el-table__body-wrapper{
    height: calc(100% - 50px);
    &::-webkit-scrollbar{
      height: 5px;
    }
    &::-webkit-scrollbar-thumb{
      background: #8c939d;
      //height: 20px;
    }
  }
}
.el-form-item{
 margin-bottom: 10px;
}
.el-dialog__wrapper{
  overflow: hidden;
}
